/**
 * Variables
*/

$color-black: #000;
$color-white: #fff;
$color-gray: #E4E8F1;
$color-gray-2: #696E7E;
$color-gray-3: #ACAEB9;
$color-light-gray: #f1f1f1;
$color-dark: #232A42;

$body-background-color: #F4F6FC;
$foreground-color: #fff;
$color-red: #ec1f4e;
$color-purple: #4C65F6;
$color-green: #2FBF71;
$color-gold: #F6CA5F;

/* Components settings */
$header: 80px;
$header-mobile: 50px;
$footer: 108px;

/* Fonts */
$font-base: Arial, Helvetica, sans-serif;
$font-default: 'Montserrat', $font-base;
$font-icon: 'icomoon';